

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Bird Detection</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/form_upload.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-upload" method=post enctype=multipart/form-data>
      <h1 class="h3 mb-3 font-weight-normal">Upload image</h1>
      <input type="file" id="image" name="image" class="form-control" required autofocus>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Make prediction</button>
      <br>

      <div class="row">
        <div class="column">
          {% if model_in_loc %}
            <h1 class="h3 mb-3 font-weight-normal">Input image</h1>
            <img class="mb-4" src="static/predictions/input/{{model_in_loc}}" alt="" style="width:100%">
          {%endif%}
        </div>
        <div class="column">
          {% if model_out_loc %}
            <h1 class="h3 mb-3 font-weight-normal">Model prediction</h1>
            <img class="mb-4" src="static/predictions/output/{{model_out_loc}}" alt="" style="width:100%">
          {%endif%}
        </div>
      </div>



<!--      {% if model_in_loc %}-->
<!--        <h1 class="h3 mb-3 font-weight-normal">Input image</h1>-->
<!--        <img class="mb-4" src="static/predictions/input/{{model_in_loc}}" alt="" width="640" height="640">-->
<!--      {%endif%}-->
<!--      {% if model_out_loc %}-->
<!--        <h1 class="h3 mb-3 font-weight-normal">Model prediction</h1>-->
<!--        <img class="mb-4" src="static/predictions/output/{{model_out_loc}}" alt="" width="640" height="640">-->
<!--      {%endif%}-->


    </form>
  </body>
</html>
